---
// Copyright (c) Pascal Brand
// MIT License

import { setDefaultProps } from '../index'
import type { AstroLeafLetType } from '../index'
import "leaflet/dist/leaflet.css"

type Props = AstroLeafLetType

const enrichedProps = Astro.props
setDefaultProps(enrichedProps)
const {
  options,
  id= 'astro-leaflet-' + Math.random().toString(36).slice(2, 11),
  ...props
} = enrichedProps

---

<leaflet-map
  data-id={id}
  data-options={JSON.stringify(options)}
   {...props}
>
  <div id={id}  {...props}>
    <slot/>
  </div>
</leaflet-map>

<script>
  import L from "leaflet"
  import { astroLeafletMaps, astroLeafletIcons } from '../index'
  import type { AstroLeafLetOptionsType, AstroLeafLetMarkerType } from '../index'

  class LeafletMap extends HTMLElement {
    constructor() {
      super()
      const options: AstroLeafLetOptionsType = JSON.parse(this.dataset.options!)
      const id: string = this.dataset.id!

      // create the map only when the document is loaded,
      // so that markers are created
      // cf. https://stackoverflow.com/questions/35805252/how-to-execute-a-script-when-the-custom-element-is-upgraded
      window.onload = function() {
        let map = L.map(id)
        astroLeafletMaps[id] = map
        map.setView(options.center!, options.zoom)
        L.tileLayer(options.tileLayer!, {attribution: options.attribution}).addTo(map)

        // add markers
        if (options && options.markers) {
          options.markers.forEach((marker:AstroLeafLetMarkerType) => {
            // add the icon marker, if not the default one
            if (marker.astroIconName) {
              if (!marker.options) {
                marker.options = {}
              }
              if (astroLeafletIcons && astroLeafletIcons[marker.astroIconName]) {
                marker.options.icon = astroLeafletIcons[marker.astroIconName]
              }
            }

            L.marker(marker.latlng, marker.options).addTo(map)
          })
        }
      }
    }
  }

  customElements.get('leaflet-map') || customElements.define("leaflet-map", LeafletMap);


  class CreateLeafletDivIcon extends HTMLElement {
    constructor() {
      super()
      const props = JSON.parse(this.dataset.props!)
      astroLeafletIcons[props.name] = L.divIcon({className: props.class});
    }
  }

  customElements.get('create-leaflet-divicon') || customElements.define("create-leaflet-divicon", CreateLeafletDivIcon);

</script>
